@media (max-width: 2560px) {

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


.main {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #222;

  .welcome {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  .title {
    line-height: 1.15;
    font-size: 3.9rem;
  }

  span {
    color: var(--purple);
  }

  .info {
    display: flex;
    gap: 8rem;

    .description {
      font-size: 1.05rem;
      font-weight: 600;
      line-height: 2rem;
      color: #222;
      margin-top: 2rem;
    }

    .button {
      width: 12.1rem;
      height: 2.65rem;

      font-weight: 500;

      display: flex;
      align-items: center;
      justify-content: center;      

      background: none;
      border-radius: 0.4rem;
      border: 1px solid var(--purple);

      margin-top: 1rem;

      transition: 0.2s;

      p {
        color: var(--purple);
        font-size: 1.2rem;
      }

      a {
        width: 11rem;
        height: 2.45rem;
        
        display: flex;
        align-items: center;
        justify-content: center; 
      }

      &:hover {
        background: var(--purple);

        transition: 0.2s;

        p {
          color: #FFF;
        }
      }
    }

    .illustration {

      img {
        width: 22rem;
        height: 22rem;

        transform: rotateY(180deg);
      }
    }
  }
}

  .myJobs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 5rem 0;

    .sub1 {
      font-size: 3rem;
      color: #333;
    }

    .jobs {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8rem;

      margin-top: 5rem;

      .job{
        width: 24rem;
        height: 27rem;
        background-color: #333;
        border-radius: 0.6rem;
  
        display: flex;
        justify-content: center;
        align-items: center;

        box-shadow: 5px 5px 8px #aaa;
  
        img {
          width: 17rem;
          height: 25rem;
          transition: 0.35s;
        }

        &:hover {
          img {
            width: 18rem;
            height: 26rem;
            transition: 0.35s;
          }
        }
      }
  
      .card {
        width: 30rem;

          h4 {
            font-size: 1rem;
            font-weight: 400;
            color: #000;
          }

          p {
          font-size: 2.5rem;
          color: var(--purple);
          margin: -0.8rem 0 -0.7rem 0;
          
            &:hover {
              text-decoration: underline;
            }
          }

          .whatIsIt {
            font-size: 0.7rem;
            font-weight: 500;

            margin-top: 0.5rem;

            color: var(--green);
          }
  
          h5 {
          font-size: 1.2rem;
          color: #444;
          font-weight: 400;
        }
      }
    }
  }
}

.footer {
  width: 85%;
  height: 4.5rem;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 0.8rem;
  font-weight: 600;
  color: #222;

  .icons {

    a {
      margin-left: 0.5rem;
    }

    img {
      width: 1.1rem;
      height: 1.1rem;
      opacity: 0.8;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  span {
    color: var(--purple);
    font-weight: 700;
  }
}
}
}

@media (max-width: 768px) {

  .container { 
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 1rem;

    .main {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .welcome {
        width: 100%;
        height: 100%;
        margin: 0;

        
        
        .title {
          line-height: 1.30;
          font-size: 3rem;

          margin-top: 1.5rem;
          padding: 0;

          color: #444;
        }

        .info {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column-reverse;
          gap: 0;

          .illustration {
            max-width: 18rem;

            img{
              width: 100%;
              margin: 3rem 0;
              padding: 0;
            }
          }

          .description {
            font-size: 1.2rem;

            font-weight: 600;
            line-height: 2rem;

            color: #333;

            margin: 0;

            .button {
              width: 12rem;
              height: 3.2rem;

              font-size: 1.1rem;
              font-weight: 500;
            }
          }
        }
        
      }
    }

    .myJobs {

      .sub1 {
        font-size: 2.5rem !important;
        color: #444 !important;

        margin-top: 3.5rem;
        margin-bottom: 0;
      }
  
      .jobs {
        display: flex;
        justify-content: center;
        align-items: center;
  
        flex-direction: column-reverse;
        gap: 0 !important;
        

        margin-top: 0 !important;
  
        .job{
          width: 21rem !important;
          height: 23rem !important;

          img {
            width: 80%;
            height: 80%;
            transition: 0.35s;
          }
        }
      
  
      .card {
        width: 100% !important;
  
          h4 {
            display: none;
          }
  
          p {
          font-size: 2.4rem !important;
          color: var(--purple);
          margin-top: 3rem !important;

          text-decoration: underline;
          }
  
          h5 {
          font-size: 1.1rem !important;
          color: #444 !important;
          font-weight: 500 !important;
          
          margin-top: 1.5rem !important;
        }
      }
    }
    
  

    .footer {
      width: 100%;
      height: 4.5rem;

      font-size: 1.3rem;
      font-weight: 600;

      .icons {

        a {
          margin-left: 0.5rem;
        }
    
        img {
          width: 1.3rem;
          height: 1.3rem;
          opacity: 0.8;
    
          &:hover {
            opacity: 0.9;
          }
        }
      }
    
      span {
        color: var(--purple);
        font-weight: 700;
      }
    }
  }
}
}
